<header>
  <div id="brand">
    <div class="text">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <h3>
        Collected in
        <a href="https://github.com/vramana/til" style="color: var(--linkcolor)"
          >vramana/til</a
        >
      </h3>
    </div>
  </div>
  <nav>
    {{ with .Site.Menus.main }} {{ range $index, $value := . }} {{ if $index }}
    | {{ end }}
    <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
    {{ end }} {{ end }}
  </nav>
  <hr />
</header>
